In [3]:
# META DATA - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

    # Developer details: 
        # Name: Harish S
        # Role: Architect
        # Code ownership rights: Harish S
    # Version:
        # Version: V 1.0 (August 29th )
            # Developer: Harish S
     
    # Description: The code enables to explore PySpark ML
    
# CODE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

# Dependency: 
    # Environment:     
        #Python 3.12

### Import foundational libraries

In [67]:
import numpy as np # Library for numerical computation
import pandas as pd # Library for data manipulation
import os # system related operations
import shutil # for operations with files

### Initiate pyspark

In [43]:
import pyspark # import pyspark

In [6]:
from pyspark.sql import SparkSession # initiate pyspark session to configure spark

In [7]:
sc = SparkSession.builder \
        .appName(" explore spark ") \
        .master("local[*]") \
        .getOrCreate()

24/09/01 14:06:30 WARN Utils: Your hostname, Harishs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.118 instead (on interface en0)
24/09/01 14:06:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/01 14:06:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
#sc.stop()

### Load the data on ecommerce ( https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce )

### Read the data from source

In [46]:
datapath=input("enter tha path of data folder ")

In [48]:
cx_df=sc.read.csv(datapath+'olist_customers_dataset.csv',header=True) # customer data

In [49]:
pay_df=sc.read.csv(datapath+'olist_order_payments_dataset.csv',header=True) # payments data

In [50]:
ord_df=sc.read.csv(datapath+'olist_orders_dataset.csv',header=True) # orders data

### Preview the data frames ( equivalent to .head()  in pandas )

In [51]:
cx_df.show()

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                   09790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                   01151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                   08775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
|879864dab9bc30475...|4c93744516667ad3b...|                   89254|      jaragua do sul|            SC|
|fd826e7cf63160e53...|addec96d2e059c80c...|                   04534|           sao paulo|            SP|
|5e274e7a0c3809e14...|57b2a98a409812fe9...|                   35182|             timoteo|            MG|
|5adf08e34b2e99398...|1175e95fb47ddff9d...|                   81560|            curitiba|            PR|
|4b7139f34592b3a31...|9afe194fb833f79e3...|                   30575|      belo horizonte|            MG|
|9fb35e4ed6f0a14a4...|2a7745e1ed516b289...|                   39400|       montes claros|            MG|
|5aa9e4fdd4dfd2095...|2a46fb94aef5cbeeb...|                   20231|      rio de janeiro|            RJ|
|b2d1536598b73a9ab...|918dc87cd72cd9f6e...|                   18682|    lencois paulista|            SP|
|eabebad39a88bb6f5...|295c05e81917928d7...|                   05704|           sao paulo|            SP|
|1f1c7bf1c9b041b29...|3151a81801c838636...|                   95110|       caxias do sul|            RS|
|206f3129c0e4d7d0b...|21f748a16f4e1688a...|                   13412|          piracicaba|            SP|
|a7c125a0a07b75146...|5c2991dbd08bbf3cf...|                   22750|      rio de janeiro|            RJ|
|c5c61596a3b6bd0ce...|b6e99561fe6f34a55...|                   07124|           guarulhos|            SP|
|9b8ce803689b3562d...|7f3a72e8f988c6e73...|                   05416|           sao paulo|            SP|
|49d0ea0986edde72d...|3e6fd6b2f0d499456...|                   68485|              pacaja|            PA|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 20 rows

In [52]:
pay_df.show()

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|
|771ee386b001f0620...|                 1| credit_card|                   1|        81.16|
|3d7239c394a212faa...|                 1| credit_card|                   3|        51.84|
|1f78449c87a54faf9...|                 1| credit_card|                   6|       341.09|
|0573b5e23cbd79800...|                 1|      boleto|                   1|        51.95|
|d88e0d5fa41661ce0...|                 1| credit_card|                   8|       188.73|
|2480f727e869fdeb3...|                 1| credit_card|                   1|       141.90|
|616105c9352a9668c...|                 1| credit_card|                   1|        75.78|
|cf95215a722f3ebf2...|                 1| credit_card|                   5|       102.66|
|769214176682788a9...|                 1| credit_card|                   4|       105.28|
|12e5cfe0e4716b59a...|                 1| credit_card|                  10|       157.45|
|61059985a6fc0ad64...|                 1| credit_card|                   1|       132.04|
|79da3f5fe31ad1e45...|                 1| credit_card|                   1|        98.94|
|8ac09207f415d55ac...|                 1| credit_card|                   4|       244.15|
|b2349a3f20dfbeef6...|                 1| credit_card|                   3|       136.71|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 20 rows

In [53]:
ord_df.show()

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|     2017-04-11 12:22:08|2017-04-13 13:25:17|                        NULL|                         NULL|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
|76c6e866289321a7c...|f54a9f0e6b351c431...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|
|e69bfb5eb88e0ed6a...|31ad1d1b63eb99624...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|
|e6ce16cb79ec1d90b...|494dded5b201313c6...|   delivered|     2017-05-16 19:41:10|2017-05-16 19:50:18|         2017-05-18 11:40:40|          2017-05-29 11:18:31|          2017-06-07 00:00:00|
|34513ce0c4fab462a...|7711cf624183d843a...|   delivered|     2017-07-13 19:58:11|2017-07-13 20:10:08|         2017-07-14 18:43:29|          2017-07-19 14:04:48|          2017-08-08 00:00:00|
|82566a660a982b15f...|d3e3b74c766bc6214...|   delivered|     2018-06-07 10:06:19|2018-06-09 03:13:12|         2018-06-11 13:29:00|          2018-06-19 12:05:52|          2018-07-18 00:00:00|
|5ff96c15d0b717ac6...|19402a48fe860416a...|   delivered|     2018-07-25 17:44:10|2018-07-25 17:55:14|         2018-07-26 13:16:00|          2018-07-30 15:52:25|          2018-08-08 00:00:00|
|432aaf21d85167c2c...|3df704f53d3f1d481...|   delivered|     2018-03-01 14:14:28|2018-03-01 15:10:47|         2018-03-02 21:09:20|          2018-03-12 23:36:26|          2018-03-21 00:00:00|
|dcb36b511fcac050b...|3b6828a50ffe54694...|   delivered|     2018-06-07 19:03:12|2018-06-12 23:31:02|         2018-06-11 14:54:00|          2018-06-21 15:34:32|          2018-07-04 00:00:00|
|403b97836b0c04a62...|738b086814c6fcc74...|   delivered|     2018-01-02 19:00:43|2018-01-02 19:09:04|         2018-01-03 18:19:09|          2018-01-20 01:38:59|          2018-02-06 00:00:00|
|116f0b09343b49556...|3187789bec9909876...|   delivered|     2017-12-26 23:41:31|2017-12-26 23:50:22|         2017-12-28 18:33:05|          2018-01-08 22:36:36|          2018-01-29 00:00:00|
|85ce859fd6dc634de...|059f7fc5719c7da6c...|   delivered|     2017-11-21 00:03:41|2017-11-21 00:14:22|         2017-11-23 21:32:26|          2017-11-27 18:28:00|          2017-12-11 00:00:00|
|83018ec114eee8641...|7f8c8b9c2ae27bf33...|   delivered|     2017-10-26 15:54:26|2017-10-26 16:08:14|         2017-10-26 21:46:53|          2017-11-08 22:22:00|          2017-11-23 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 20 rows

SCHEMA ( equivalent to pandas .info() )

In [54]:
cx_df.printSchema() # datatypes of each feature

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [55]:
pay_df.printSchema() # datatypes of each feature

root
 |-- order_id: string (nullable = true)
 |-- payment_sequential: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: string (nullable = true)
 |-- payment_value: string (nullable = true)

In [56]:
ord_df.printSchema() # datatypes of each feature

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: string (nullable = true)
 |-- order_approved_at: string (nullable = true)
 |-- order_delivered_carrier_date: string (nullable = true)
 |-- order_delivered_customer_date: string (nullable = true)
 |-- order_estimated_delivery_date: string (nullable = true)

SHAPE of the dataframe

CX dataframe

In [57]:
num_rows = cx_df.count()
num_columns = len(cx_df.columns)
print(f"Shape: ({num_rows}, {num_columns})")

Shape: (99441, 5)

PAY dataframe

In [58]:
num_rows = pay_df.count()
num_columns = len(pay_df.columns)
print(f"Shape: ({num_rows}, {num_columns})")

Shape: (103886, 5)

ORD dataframe

In [59]:
num_rows = ord_df.count()
num_columns = len(ord_df.columns)
print(f"Shape: ({num_rows}, {num_columns})")

Shape: (99441, 8)

MERGE Dataframes

In [60]:
merged_df1 = cx_df.join(ord_df, on='customer_id', how='inner')

In [61]:
final_df=merged_df1.join(pay_df,on='order_id',how='inner')

In [62]:
final_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: string (nullable = true)
 |-- order_approved_at: string (nullable = true)
 |-- order_delivered_carrier_date: string (nullable = true)
 |-- order_delivered_customer_date: string (nullable = true)
 |-- order_estimated_delivery_date: string (nullable = true)
 |-- payment_sequential: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: string (nullable = true)
 |-- payment_value: string (nullable = true)

Export the data to csv

In [63]:
output_path=input("enter the path of data to export: ")

In [64]:
final_df.write.mode('overwrite').csv(output_path, header=True)

In [69]:
# THIS method exports final dataframe in multiple parts 
# hence combine into single csv file

In [70]:
final_csv_path=input("enter the path to export single csv file : ")
final_df.coalesce(1).write.mode('overwrite').csv(final_csv_path, header=True)

Export the data to parquet files format

In [71]:
parquet_path=input("enter the path to export parquet file : ")
final_df.write.mode('overwrite').parquet(parquet_path)

Exported parquet files will be split into multiple files hence combine the files into one

In [2]:
import pyarrow.parquet as pq
import pyarrow as pa

input_dir = input("enter the path of exported parquet files : ")
output_file = input("enter the path to save combined parquet file : ")

# List all Parquet files in the directory
parquet_files = [os.path.join(input_dir, f) for f in os.listdir(input_dir) if f.endswith('.parquet')]

# Read all Parquet files
tables = [pq.read_table(f) for f in parquet_files]

# Combine all tables into one
combined_table = pa.concat_tables(tables)

# Write the combined table to a single Parquet file
pq.write_table(combined_table, output_file+'combined_file.parquet')

READ PARQUET FILE

In [9]:
readdf=sc.read.parquet(output_file+'combined_file.parquet') # customer data

In [10]:
readdf.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: string (nullable = true)
 |-- order_approved_at: string (nullable = true)
 |-- order_delivered_carrier_date: string (nullable = true)
 |-- order_delivered_customer_date: string (nullable = true)
 |-- order_estimated_delivery_date: string (nullable = true)
 |-- payment_sequential: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: string (nullable = true)
 |-- payment_value: string (nullable = true)